<input type="text" name="search" class="ui input" [placeholder]="searchText">
<i class="blue search icon"></i>
<table class="ui celled table">
	<thead>
		<tr>
			<th>概念</th><th>簡介 + 用途</th><th>實作 + 範例</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let c of concepts">
			<td>{{c.zh}}
				<br/>{{c.en}}
			</td>
			<td>{{c.intro}}</td>
			<td>
				<ul *ngIf="c.rs && c.rs[0]!=='*'">
					<li *ngFor = "let r of c.rs">
						<a [href]="r.href" target="_blank">{{r.t}}</a>
					</li>					
				</ul>
				<p *ngIf="c.rs && c.rs[0]=='*'" class="gray">
					這是ng2內建的
				</p>
			</td>
		</tr>
	</tbody>
</table>
