/* You can add global styles to this file, and also import other style files */

a, button {
	cursor: pointer !important;
}

[hidden] {
	display: none !important;
}

@media screen and (max-width: 600px) {
	.fat-only {
		display: none !important;
	}
}

@media screen and (min-width: 600px) {
	.thin-only {
		display: none !important;
	}
}

@media print {
	.thin-only {
		display: none !important;
	}
}